<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="" name="description"/>
    <meta content="" name="keywords">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <link href="css/style.css" rel="stylesheet">

    <link href="#" rel="shortcut icon">
    <meta content="petersburg-studio.com" name="author">
</head>
<body>

<header>
    <div class="wrapper">
        <div class="header">
            <a href="#" class=" logo">
                <img src="images/logo.png" alt="logo">
                Поисковая система Gortis
            </a>

            <nav class="header__nav">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li>
                        <a href="#">
                            О компании
                            <img src="images/right-arrow.png" alt="icon">
                        </a>
                        <ul class="submenu">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>

            <div class="header__contacts">
                <div class="header__contacts__time">
                    Пн-Сб, 8:00 - 22:00
                </div>

                <a href="tel:+7 (812) 622-19-77" class="phone">+7 (812) 622-19-77</a>

                <a href="#" class="callback">
                    Обратный звонок
                    <img src="images/down-arrow.png" alt="icon">
                </a>
            </div>

            <div class="header__hamburger">
                <a class="adaptive-menu-toggle" href="#">
                    <span class="menu-toggle-inner">
                        <span class="menu-toggle-line menu-toggle-line--1"></span>
                        <span class="menu-toggle-line menu-toggle-line--2"></span>
                        <span class="menu-toggle-line menu-toggle-line--3"></span>
                        <span class="menu-toggle-line menu-toggle-line--4"></span>
                        <span class="menu-toggle-line menu-toggle-line--5"></span>
                    </span>
                </a>
            </div>

            <nav class="headerNav_adaptive">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <hr>
</header>

<section class="s_breadcrumbs">
    <div class="wrapper">
        <h1 class="h1">Мониторинг традиционных СМИ</h1>
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="#">Главная</a>
                </li>
                <li>
                    <a href="#">Услуги</a>
                </li>
                <li>
                    <span>Мониторинг традиционных СМИ</span>
                </li>
            </ul>
        </div>
    </div>
</section>

<main class="container wrapper">
    <section class="s_service">
        <div class="service">
            <img src="images/businessman-working-with-tablet-office-closeup.jpeg" alt="photo">

            <div class="innerTitle">Наша компания отслеживает информацию из печатных и электронных, интернет СМИ, а
                также теле- и радиоканалов.
            </div>

            <div class="service__quote">
                <div class="service__quote__icon">
                    <img src="images/left-quote.png" alt="icon">
                </div>
                <p class="service__quote__content">Обзоры, в рамках предоставляемого сервиса, формируются исключительно
                    с учетом Ваших требований и
                    могут включать информацию по нескольким отраслям, компаниям, персоналиям. Мониторинг проводится по
                    крупнейшим электронным базам данных российских СМИ, специализированным печатным СМИ, поисковым
                    системам Интернет.</p>
            </div>

            <p>Мониторинг проводится по крупнейшим электронным базам данных российских СМИ, специализированным печатным
                СМИ, поисковым системам Интернет. Общее количество русскоязычных источников составляет более 40 000.
                Специализированные и деловые печатные СМИ, не представленные в электронных базах, просматриваются нашими
                специалистами вручную. Мониторинг региональных медиа, не доступных через федеральные базы СМИ, мы
                проводим с помощью широкой сети региональных партнеров. Мы готовы предложить как уже существующие
                шаблоны оформления результатов мониторинга, так и разработать индивидуальный формат максимально
                отвечающий Вашим потребностям.</p>

            <div class="service__items">
                <a href="#" class="service__items__item">
                    <div class="border">
                        <div class="help__items__link">
                            <p>
                                <img src="images/down-arrow-light.png" alt="icon">
                            </p>
                        </div>
                        <div class="service__items__item__content">
                            <div class="service__items__item__content__title">
                                Изучение рыночной конъюнктуры
                            </div>
                            <p>Решение задачи изучения конъюнктуры конкретного рынка, как правило, предполагает сбор и
                                анализ информации за какой-то период.</p>
                        </div>
                    </div>
                </a>

                <a href="#" class="service__items__item">
                    <div class="border">
                        <div class="help__items__link">
                            <p>
                                <img src="images/down-arrow-light.png" alt="icon">
                            </p>
                        </div>
                        <div class="service__items__item__content">
                            <div class="service__items__item__content__title">
                                Изучение характеристик спроса, емкости рынка
                            </div>
                            <p>Данное исследование предусматривает оценку величины и структуры текущего действительного
                                спроса</p>
                        </div>
                    </div>
                </a>

                <a href="#" class="service__items__item">
                    <div class="border">
                        <div class="help__items__link">
                            <p>
                                <img src="images/down-arrow-light.png" alt="icon">
                            </p>
                        </div>
                        <div class="service__items__item__content">
                            <div class="service__items__item__content__title">
                                Изучение предложения на рынке товаров (услуг)
                            </div>
                            <p>Характеристики рыночного предложения чаще всего изучаются в ходе исследования конъюнктуры
                                рынка, когда решаются...</p>
                        </div>
                    </div>
                </a>

                <a href="#" class="service__items__item">
                    <div class="border">
                        <div class="help__items__link">
                            <p>
                                <img src="images/down-arrow-light.png" alt="icon">
                            </p>
                        </div>
                        <div class="service__items__item__content">
                            <div class="service__items__item__content__title">
                                Анализ конкурентного окружения
                            </div>
                            <p>Основная цель анализа конкурентного окружения заключается в получении сведений,
                                необходимых для обеспечения конкурентного преимущества на рынке.</p>
                        </div>
                    </div>
                </a>

                <a href="#" class="service__items__item">
                    <div class="border">
                        <div class="help__items__link">
                            <p>
                                <img src="images/down-arrow-light.png" alt="icon">
                            </p>
                        </div>
                        <div class="service__items__item__content">
                            <div class="service__items__item__content__title">
                                Изучение потребительских привычек и предпочтений
                            </div>
                            <p>Данное исследование является частью комплексного изучения рынка и позволяет изучить
                                отношение потребителей...</p>
                        </div>
                    </div>
                </a>

                <a href="#" class="service__items__item">
                    <div class="border">
                        <div class="help__items__link">
                            <p>
                                <img src="images/down-arrow-light.png" alt="icon">
                            </p>
                        </div>
                        <div class="service__items__item__content">
                            <div class="service__items__item__content__title">
                                Аудит клиентского сервиса
                            </div>
                            <p>Данное исследование позволяет провести всестороннюю оценку качества обслуживания клиентов
                                персоналом торгово-сервисных предприятий</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <aside>
        <a href="#" class="aside__item file">
            <div class="aside__item__icon">
                <img src="images/download.png" alt="icon">
            </div>
            <div class="aside__item__title">Скачайте  и заполните бриф</div>
            <div class="file__info">docx, 582 kB</div>
        </a>

        <a href="#" class="aside__item blue">
            <div class="aside__item__icon">
                <img src="images/energy-management.png" alt="icon">
            </div>
            <div class="aside__item__title">Заказать консультацию</div>
            <div class="aside__item__offer">Бесплатно</div>
        </a>
    </aside>
</main>

<footer>
    <div class="footer_top">
        <div class="wrapper">
            <div class="footer">
                <div class="footer__info">
                    <a href="#" class="logo">
                        <img src="images/logo.png" alt="logo">
                    </a>

                    <div class="footer__info__contacts">
                        <div class="header__contacts__time">
                            Пн-Сб, 8:00 - 22:00
                        </div>

                        <a href="tel:+7 (812) 622-19-77" class="phone">+7 (812) 622-19-77</a>
                    </div>

                    <a href="#" class="btn btn_blue">
                        <div>
                            Обратный звонок
                            <img src="images/down-arrow-white.png" alt="icon">
                        </div>
                    </a>

                    <div class="social">
                        <a href="#">
                            <img src="images/telegram.png" alt="icon">
                        </a>
                        <a href="#">
                            <img src="images/whatsapp.png" alt="icon">
                        </a>
                        <a href="#">
                            <img src="images/facebook.png" alt="icon">
                        </a>
                        <a href="#">
                            <img src="images/viber.png" alt="icon">
                        </a>
                    </div>
                </div>

                <hr>

                <div class="footer__nav">
                    <nav>
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav>

                    <div class="footer__nav__menu">
                        <div class="footer__nav__menu__title">
                            Услуги:
                        </div>
                        <ul>
                            <li><a href="#">Мониторинг традиционных СМИ</a></li>
                            <li><a href="#">Маркетинговые исследования</a></li>
                            <li><a href="#">Мониторинг социальных меди</a></li>
                            <li><a href="#">Медиа-анализ в традиционных СМИ и Соцмедиа</a></li>
                        </ul>
                    </div>

                    <div class="footer__nav__menu">
                        <div class="footer__nav__menu__title">
                            Технологии:
                        </div>
                        <ul>
                            <li><a href="#">Система GortisMonitoringSystem</a></li>
                            <li><a href="#">Программный комплекс Проба-Медиа</a></li>
                            <li><a href="#">PR-Media</a></li>
                            <li><a href="#">GR Media</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom">
        <div class="wrapper">
            <div class="copyright">
                2012 - 2020 © Все права защищены
            </div>
            <div class="links">
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Пользовательское соглашение</a>
            </div>
            <div class="developer">
                Разработка сайта -
                <a href="https://petersburg-studio.com/">Studio Peterburg</a>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/slick.min.js" type="text/javascript"></script>
<script src="js/scripts.js" type="text/javascript"></script>
